<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mappers.commonMapper">

		<select resultType="com.itwillbs.domain.CommonDTO" parameterType="com.itwillbs.domain.CommonDTO" id="selectCommonList">
			SELECT CD_OPT,CD_OPT_NM,HIGH_CD
			FROM projectdb.COMMON_CODE
			WHERE 1=1
			<if test="srhHighCd != null and srhHighCd != '' ">AND HIGH_CD = #{srhHighCd} </if>
			<if test="srhCdOpt != null and srhCdOpt != '' ">
			AND CD_OPT IN ( <foreach separator="," item="param" collection="srhCdOpt">#{param} </foreach> )
			</if>
		</select>

<!-- 	<select id="selectCommonList" parameterType="com.itwillbs.domain.CommonDTO" resultType="com.itwillbs.domain.CommonDTO"> -->
<!-- 		SELECT CD_OPT, CD_OPT_NM, HIGH_CD, USE_YN -->
<!-- 	      FROM projectdb.COMMON_CODE -->
<!-- 	     WHERE HIGH_CD = #{highCd} -->
<!-- 	</select> -->

</mapper>