<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mappers.compMapper">

<!-- 회원가입 -->
	<insert id="insertProd">
		INSERT INTO PRODUCT_LIST(
				    PROD_L_NUM
			       ,PROD_L_CODE
			       ,PROD_L_OPTION1
			       ,PROD_L_OPTION2
			       ,PROD_L_OPTION3
			       ,PROD_L_OPTION4
			       ,PROD_L_OPTION5
			       ,PROD_L_PRODNM
			       ,PROD_L_PRICE
			       ,PROD_L_UPLOADDATE
			       ,PROD_L_COMPNM
			       ,PROD_L_MAINIMG
			       ,PROD_L_SUBIMG
			       ,PROD_L_DETAIL
			       ,PROD_L_QUANTITY
           		    )
			 VALUES (
					(SELECT PROD_L_NUM
		       		 FROM   (SELECT IFNULL(MAX(CAST(PROD_L_NUM AS UNSIGNED)), 0) + 1 AS PROD_L_NUM
				 	   	       FROM PRODUCT_LIST) A)
			       ,#{prodLCode}
			       ,#{prodLOption1}
			       ,#{prodLOption2}
			       ,#{prodLOption3}
			       ,#{prodLOption4}
			       ,#{prodLOption5}
			       ,#{prodLProdnm}
			       ,#{prodLPrice}
			       ,#{prodLUploaddate}
			       ,#{prodLCompnm}
			       ,#{prodLMainimg}
			       ,#{prodLSubimg}
			       ,#{prodLDetail}
			       ,#{prodLQuantity}
			  		)
	</insert>

	<select id="getProd" resultType="com.itwillbs.domain.ProdDTO">
		   SELECT	*
		    FROM    PRODUCT_LIST
		   WHERE    PROD_L_CODE=#{prodLCode}

	</select>

<!-- 	검색사용, 검색 미사용시 삭제할 상품리스트 갖고오기 -->
	<select id="getProdList" resultType="com.itwillbs.domain.ProdDTO" >
		   SELECT 	PROD_L_NUM
			       ,PROD_L_CODE
			       ,PROD_L_OPTION1
			       ,PROD_L_OPTION2
			       ,PROD_L_PRODNM
			       ,PROD_L_PRICE
			       ,PROD_L_QUANTITY
		     FROM   PRODUCT_LIST
		    WHERE   PROD_L_COMPNM=#{compNm}
		   	<if test="status != null and status !='0' ">
		   	  <choose>
			     <when test='status.equals("1") '>
		      AND	PROD_L_QUANTITY <![CDATA[ >= ]]> 50
			     </when>
			     <when test='status.equals("2") '>
			  AND   PROD_L_QUANTITY <![CDATA[ < ]]> 50
		   	  AND   PROD_L_QUANTITY <![CDATA[ > ]]> 0
			     </when>
			   	 <when test='status.equals("3") '>
			  AND   PROD_L_QUANTITY = 0
			     </when>
			   </choose>
			</if>
			<if test='searchKeyWord != null and columnNm != "0"'>
		   	  AND   ${columnNm} LIKE CONCAT('%', #{searchKeyWord}, '%')
		    </if>
		 ORDER BY   PROD_L_NUM
       DESC LIMIT   #{startRow}
                   ,#{pageSize}
	</select>

<!--  	페이징 처리에 필요한 게시글수 -->
	<select id="getProdCount" resultType="java.lang.Integer">
		   SELECT   COUNT(PROD_L_CODE)
		     FROM   PRODUCT_LIST
		    WHERE   PROD_L_COMPNM=#{compNm}
	<if test="status != null and status !='0' ">
		   	  <choose>
			     <when test='status.equals("1") '>
		      AND	PROD_L_QUANTITY <![CDATA[ >= ]]> 50
			     </when>
			     <when test='status.equals("2") '>
			  AND   PROD_L_QUANTITY <![CDATA[ < ]]> 50
		   	  AND   PROD_L_QUANTITY <![CDATA[ > ]]> 0
			     </when>
			   	 <when test='status.equals("3") '>
			  AND   PROD_L_QUANTITY = 0
			     </when>
			   </choose>
			</if>
			<if test='searchKeyWord != null and columnNm != "0"'>
		   	  AND   ${columnNm} LIKE CONCAT('%', #{searchKeyWord}, '%')
		    </if>
	</select>

	<delete id="deleteProd">
	   DELETE FROM  PRODUCT_LIST
	   	     WHERE  PROD_L_CODE=#{prodLCode}
	</delete>

	<update id="updateProd">
		UPDATE  PRODUCT_LIST
		   SET  PROD_L_PRICE    =#{prodLPrice}
			   ,PROD_L_MAINIMG  =#{prodLMainimg}
			   ,PROD_L_SUBIMG   =#{prodLSubimg}
			   ,PROD_L_DETAIL   =#{prodLDetail}
			   ,PROD_L_QUANTITY =#{prodLQuantity}
	     WHERE  PROD_L_CODE     =#{prodLCode}
	</update>
	<select id="getComp" resultType="com.itwillbs.domain.CompDTO">
		SELECT *
		  FROM COMPANY_INFO
		 WHERE COMP_ID=#{compId}
	</select>
<!-- 	todo -->
	<insert id="insertProdStock">
		INSERT INTO PRODUCT_STOCK(
			   		NUM
				   ,PROD_S_PNUM
				   ,PROD_S_COUNT
				    )
			 VALUES (
				    #{num}
			       ,#{prodSPnum}
			       ,#{prodSCount}
			)

	</insert>


</mapper>
