<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mappers.memberMapper">

<!-- 회원가입 -->
	<insert id="insertMember">
		INSERT INTO USER_INFO(
					USER_ID
				   ,USER_PASS
				   ,USER_NM
				   ,USER_EMAIL
				   ,USER_GENDER
				   ,USER_ATHLETIC
				   ,USER_NICKNM
				   ,USER_PHONE
				   ,USER_ZIPCODE
				   ,USER_ADDRESS
				   ,USER_DATE
				   ,POINT_NUM
				   ,MY_COUPON_NUM
				   ,USER_RANK
					)
			VALUES(
			  		#{userId}
				   ,#{userPass}
				   ,#{userNm}
				   ,#{userEmail}
				   ,#{userGender}
				   ,#{userAthletic}
				   ,#{userNicknm}
				   ,#{userPhone}
				   ,#{userZipcode}
				   ,#{userAddress}
				   ,#{userDate}
				   ,#{pointNum}
				   ,#{myCouponNum}
				   ,#{userRank}
			  		)
	</insert>

	<select id="userCheck" resultType="com.itwillbs.domain.MemberDTO">
		SELECT *
		  FROM USER_INFO
		 WHERE USER_ID=#{userId}
		   AND USER_PASS=#{userPass}
	</select>

	<select id="getMember" resultType="com.itwillbs.domain.MemberDTO">
		SELECT *
		  FROM USER_INFO
		 WHERE USER_ID=#{userId}
	</select>

</mapper>