<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mappers.orderMapper">


<!-- 	<select id="insertOrder" allowMultiQueries=true> -->

<!-- 			INSERT INTO ORDER_BOARD( -->
<!-- 					ORD_USER -->
<!-- 				   ,ORD_GET_NM -->
<!-- 				   ,ORD_GET_ADDRESS -->
<!-- 				   ,ORD_GET_PHONE -->
<!-- 				   ,ORD_DELIVERY_MESSAGE -->
<!-- 				   ,ORD_DATE -->
<!-- 				   ,ORD_PAYMENT -->
<!-- 				   ,ORD_TOTAL_PRICE -->
<!-- 				   ,ORD_SAVEDPOINT -->
<!-- 				   ,ORD_COUPONDDC -->
<!-- 				   ,ORD_USE_POINT -->
<!-- 				   ,ORD_FINALPRICE -->
<!-- 				   ,ORD_PURCHASESTATUS -->
<!-- 				   ,ORD_DELIVERY_PRICE -->
<!-- 				   ) -->
<!-- 			VALUES( -->
<!-- 					#{ordUser} -->
<!-- 				   ,#{ordGetNm} -->
<!-- 				   ,#{ordGetAddress} -->
<!-- 				   ,#{ordGetPhone} -->
<!-- 				   ,#{ordDeliveryMessage} -->
<!-- 				   ,#{ordDate} -->
<!-- 				   ,#{ordPayment} -->
<!-- 				   ,#{ordTotalPrice} -->
<!-- 				   ,#{ordSavedpoint} -->
<!-- 				   ,#{ordCouponDc} -->
<!-- 				   ,#{ordUsepoint} -->
<!-- 				   ,#{ordFinalPrice} -->
<!-- 				   ,#{ordPurchaseStatus} -->
<!-- 				   ,#{ordDeliveryPrice} -->
<!-- 				    ) -->

<!-- 			UPDATE PRODDTO -->
<!-- 				SET PROD_L_QUANTITY=#{prodLQuantity - basketDTO.sbCount} -->
<!-- 			WHERE SB_PROD_CODE -->

<!-- 	</select> -->



</mapper>
