<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mappers.pointMapper">
	<insert id="insertMember">
			insert into POINT(
			 POINT_NUM
			,USER_ID
			,POINT_DATE
			) 
		values(
		     #{pointNum}
			,#{userId}
			,#{pointDate}
			)
	</insert>

	<select id="getMaxNum" resultType="java.lang.Integer">
		SELECT MAX(POINT_NUM) FROM POINT
	</select>

	<update id="updatePoint">
		UPDATE USER_INFO
	       SET USER_POINT=#{userPoint}
	     WHERE USER_ID	  =#{userId}
	</update>


	<select id="getMember" resultType="com.itwillbs.domain.PointDTO">
		SELECT *
		  FROM POINT
		 WHERE USER_ID=#{userId}
	  ORDER BY POINT_NUM DESC LIMIT 1
	</select>

	<select id="getPointCount" resultType="java.lang.Integer">
		SELECT COUNT(*)
		  FROM POINT
	</select>

	<select id="getPointList" resultType="com.itwillbs.domain.PointDTO">
		SELECT * 
		  FROM POINT
 		 WHERE USER_ID= #{userId} 
	  ORDER BY POINT_NUM DESC LIMIT #{startRow}, #{pageSize}
	</select>


</mapper>