<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mappers.pointMapper">
	<insert id="insertMember">
			INSERT INTO POINT(
			 POINT_NUM
			,USER_ID
			,POINT_DATE
			) 
		values(
		     #{pointNum}
			,#{userId}
			,#{pointDate}
			)
	</insert>

	<select id="getMaxNum" resultType="java.lang.Integer">
		SELECT MAX(POINT_NUM) FROM POINT
	</select>


	<select id="getMember" resultType="com.itwillbs.domain.PointDTO">
		SELECT *
		  FROM POINT
		 WHERE USER_ID=#{userId}
	  ORDER BY POINT_NUM DESC LIMIT 1
	</select>

	<select id="getPointCount" resultType="java.lang.Integer">
		SELECT COUNT(*)
		  FROM POINT
   		 WHERE USER_ID= #{userId}
	</select>

	<select id="getPointList" resultType="com.itwillbs.domain.PointDTO">
		SELECT * 
		  FROM POINT
 		 WHERE USER_ID= #{userId} 
	  ORDER BY POINT_NUM DESC LIMIT #{startRow}, #{pageSize}
	</select>

	<insert id="insertChargePoint">
			INSERT INTO POINT(
			 POINT_NUM
			,USER_ID
			,POINT_DATE
			,POINT_TYPE
			,POINT_NOW
			,POINT_CHARGE
			) 
		values(
			 (SELECT A.POINTNUM
			    FROM (SELECT MAX(POINT_NUM) + 1 AS POINTNUM
			    	    FROM POINT) A)
			,#{userId}
			,#{pointDate}
			,#{pointType}
			,#{pointNow}
			,#{pointCharge}
			)
	</insert>
	
		<insert id="insertUsePoint">
			INSERT INTO POINT(
			 POINT_NUM
			,USER_ID
			,POINT_DATE
			,POINT_TYPE
			,POINT_NOW
			,POINT_USED
			) 
		values(
			 (SELECT A.POINTNUM
			    FROM (SELECT MAX(POINT_NUM) + 1 AS POINTNUM
			    	    FROM POINT) A)
			,#{userId}
			,#{pointDate}
			,#{pointType}
			,#{pointNow}
			,#{pointUsed}
			)
	</insert>
	
	
</mapper>