<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mappers.prodMapper">

	<select id="selectProdList" parameterType="com.itwillbs.domain.ProdDTO" resultType="com.itwillbs.domain.ProdDTO">
		SELECT PROD_L_NUM
              ,PROD_L_CODE
              ,PROD_L_OPTION1
              ,PROD_L_OPTION2
              ,PROD_L_PRODNM
              ,PROD_L_PRICE
              ,PROD_L_UPLOADDATE
              ,PROD_L_COMPNM
              ,PROD_L_MAINIMG
              ,PROD_L_SUBIMG
              ,PROD_L_DETAIL
		  FROM projectdb.PRODUCT_LIST
		 WHERE 1=1
		 <!-- MyBatis 사용
		 전체 검색 할때 사용
		 <if test="search != null and search != ''">
		 	AND (REGEXP_LIKE (PROD_L_OPTION1 , #{search})
		 	  OR REGEXP_LIKE (PROD_L_OPTION2 , #{search}))
		 </if>
		  -->
		 ORDER BY PROD_L_NUM DESC
		 <!--
		 정렬 방법 높은가격,낮은가격
		 ORDER BY
		 <choose>
	  		<when test="gridColumn == 'priceDesc'">
	  			PROD_L_PRICE DESC
	  		</when>
	  		<when test="gridColumn == 'priceAsc'">
	  			PROD_L_PRICE ASC
	  		</when>
	  		<otherwise>
		    	PROD_L_NUM DESC
	    </otherwise>
	  	</choose>
	  	 -->
	</select>

	<select id="selectProdListCnt" parameterType="com.itwillbs.domain.ProdDTO" resultType="java.lang.Integer">
		SELECT COUNT(PROD_L_NUM)
		  FROM projectdb.PRODUCT_LIST
		  WHERE 1=1
		 <!-- My Batis 사용
		 전체 검색 할때 사용
		 <if test="search != null and search != ''">
		 	AND (REGEXP_LIKE (PROD_L_OPTION1 , #{search})
		 	  OR REGEXP_LIKE (PROD_L_OPTION2 , #{search}))
		 </if>
		  -->
	</select>

	<select id="selectProdDetail" parameterType="com.itwillbs.domain.ProdDTO" resultType="com.itwillbs.domain.ProdDTO">
		SELECT PROD_L_NUM
              ,PROD_L_CODE
              ,PROD_L_OPTION1
              ,PROD_L_OPTION2
              ,PROD_L_PRODNM
              ,PROD_L_PRICE
              ,PROD_L_UPLOADDATE
              ,PROD_L_COMPNM
              ,PROD_L_MAINIMG
              ,PROD_L_SUBIMG
              ,PROD_L_DETAIL
		  FROM projectdb.PRODUCT_LIST
		 WHERE PROD_L_NUM = #{prodLNum}
	</select>

</mapper>